#tictactoegrid{
    display: grid;
    width: 120px;
    height: 120px;
    grid-template-columns: 40px 40px 40px;
    margin-top: 20px;
}

.box{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    text-align: center;
    padding-top: 8px;   
}

#winnermessage{
    margin-top: 25px;
}

button{
    margin-top: 25px;
}

#turncounter{

}